<google-map 
  [height]="'100vh'" 
  [width]="'100vw'" 
  [center]="center" 
  [zoom]="zoom">
  
  <!-- Adaugă marcajele dinamice -->
  <map-marker 
    *ngFor="let marker of markers" 
    [position]="{ lat: marker.lat, lng: marker.lng }" 
    [title]="'Event: ' + marker.lat + ', ' + marker.lng"
    (mapClick)="onMarkerClick(marker.id)">
  </map-marker>
</google-map>

<!-- Detalii eveniment -->
<div *ngIf="selectedEvent" class="event-details">
  <button (click)="closeEventDetails()" class="close-button">✕</button>
  <h3>Detalii Eveniment</h3>
  <p><strong>ID:</strong> {{ selectedEvent.id }}</p>
  <p><strong>Tip:</strong> {{ selectedEvent.name }}</p>
  <p><strong>Descriere:</strong> {{ selectedEvent.description }}</p>
  <p><strong>Coordonate:</strong> {{ selectedEvent.coordinateLat
 }}, {{ selectedEvent.coordinateLong }}</p>
  <p><strong>Timp:</strong> {{ selectedEvent.timestamp | date: 'dd.MM.yy' }}</p>
  <p><strong>Email utilizator:</strong> {{ selectedEvent.emailUser }}</p>
</div>

