<h1 mat-dialog-title>Detalii Eveniment</h1>
<div mat-dialog-content>
  <div *ngIf="loading">
    <p>Se încarcă detaliile evenimentului...</p>
  </div>

  <div *ngIf="!loading && event">
    <p><strong>Informații Eveniment:</strong></p>
    <div *ngFor="let key of objectKeys(event)">
      <p>{{ formatKey(key) }}: {{ formatValue(key, event[key]) }}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Închide</button>
  <button mat-raised-button color="warn" (click)="deleteEvent()">Șterge</button>
</div>
