<h1 mat-dialog-title>Detalii Eveniment</h1>
<div mat-dialog-content>
  <div *ngIf="event">
    <p>Tip: {{ event.type }}</p>
    <p>Latitudine: {{ event.coordinateLat }}</p>
    <p>Longitudine: {{ event.coordinateLong }}</p>
    <p>Descriere: {{ event.description }}</p>
    <p>Timp: {{ event.timestamp }}</p>
    <p>Email Utilizator: {{ event.emailUser }}</p>
  </div>
  <div *ngIf="!event">
    <p>Se încarcă detaliile evenimentului...</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Închide</button>
  <button mat-raised-button color="warn" (click)="deleteEvent()">Șterge</button>
</div>
